<div>
    <h1>Mi perfil</h1>
    <p>{{user.last_name}} {{user.first_name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <p>{{user.role}}</p>
    <a href="/api/sessions/logout"><button class="btn btn-primary" >Salir</button></a>
</div>
<br>
<button id="goHome" class="btn btn-secondary"> Ir al Home</button>

<script src="/js/index.js"></script>